.LoginForm {
    text-align: center
}

.LoginForm-container {
    margin-top: 80px;
	width: 400px;
	height: 700px;
}

.LoginForm-form-container
{
    background-color: brown;
	padding: 40px;
	padding-top: 10px;
}